---
import { Image } from "astro:assets"

import Video from "@/layouts/shortcodes/Video.jsx"
import TypewriterText from "../function-components/TypewriterText"
import languageChecker from "@/lib/utils/localizeURL"

const currentLanguage = Astro.currentLocale
const {
  banner: { textCard, videoCard, buttonObject }
} = Astro.props

const { title, description } = textCard || {}
const { videoUrl, videoPoster } = videoCard || {}
const { enableLink: enableHeroButton, linkObject } = buttonObject || {}
const { urlTitle: heroButtonTitle, url: heroButtonUrl } = linkObject || {}
---

<section class="section banner">
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-6">
        <h1 class="banner-title"
          >{
            currentLanguage === "en" ? title?.split(" ").map((el: string) => <span class="mr-3 inline-block first-letter:text-[#f96b48]">{el}</span>) : title
          }</h1
        >
        <p class="mt-6">{description}</p>

        {
          enableHeroButton && (
            <a class="btn btn-primary mt-8 mb-8 lg:mb-0" href={languageChecker(heroButtonUrl, currentLanguage)}>
              {heroButtonTitle}
            </a>
          )
        }
      </div>

      <div class="lg:col-6">
        {
          videoUrl ? (
            <Video class="object-contain mx-auto max-w-3xl w-[94%]" src={videoUrl} width="94%" height="auto" poster={videoPoster ? videoPoster : undefined} />
          ) : (
            <Image class="w-full object-contain" alt="banner" src={videoPoster} width={603} height={396} />
          )
        }
      </div>
    </div>
  </div>

  <Image class="banner-shape absolute top-0 right-0 -z-[1] w-full max-w-[30%]" alt="banner" src="/images/banner-shape.png" width={496} height={466} />
</section>
