---
import { sanityFetch } from "@/lib/utils/sanityFetch"

import Base from "@/layouts/Base.astro"
import PageHeader from "@/components/PageHeader.astro"
import Blogs from "@/components/Blogs.astro"
import Shape from "@/components/Shape.astro"
import BlogCategories from "@/components/blog/BlogCategories.astro"

const { lang } = Astro.props

const categoriesPageData = await sanityFetch({
  type: "categoriesPage",
  lang,
  object: `{
      title,
      pageMetadata {
        ...,
        "metaImage": metaImage.asset->url,
      },
      heroSection,
      generalText
  }`
})

const posts = await sanityFetch({ type: "course", lang, pipe: "order(_createdAt desc)" })

let postTagsArrays = posts.map((post: any) => post.tags)
let allCategories: string[] = []
postTagsArrays.map((tagArray: any[]) => {
  tagArray.map(tag => {
    if (allCategories.indexOf(tag) === -1) {
      allCategories.push(tag)
    }
  })
})

const { title, pageMetadata, heroSection, generalText } = categoriesPageData[0] || {}
const { metaTitle, metaDescription, metaImage, noIndex, canonicalUrl } = pageMetadata || {}
---

<Base
  title={title && title}
  meta_title={metaTitle && metaTitle}
  description={metaDescription && metaDescription}
  image={metaImage && metaImage}
  noindex={noIndex && noIndex}
  canonical={canonicalUrl && canonicalUrl}
  lang={lang}
>
  <Shape />

  <section class="page-hero pb-14 pt-16">
    <div class="container">
      <PageHeader pageData={{ title, heroSection }} />
    </div>
  </section>

  <section class="section">
    <div class="container">
      <BlogCategories categories={allCategories} allCategoriesText={generalText?.allCategoriesText} lang={lang} />
      <Blogs posts={posts} />
    </div>
  </section>
</Base>
