---
import { sanityFetch } from "@/lib/utils/sanityFetch"
import { PortableText } from "@portabletext/react"
import portableTextComponents from "@/layouts/portable-text-components"

import SigninSlider from "@/layouts/function-components/SigninSlider.jsx"
import SanityConflictInitial from "@/layouts/function-components/SanityConflictInitial.jsx"

const { lang } = Astro.props

const conflictGuidePageData = await sanityFetch({
  type: "conflictGuidePage",
  lang,
  object: `{
      title,
      introSection {
        ...,
        "introMobileImage": introMobileImage.asset->url,
      },
      signInSliderContent
  }`
})

const { title, introSection, signInSliderContent } = conflictGuidePageData[0] || {}
const { introTitle, introDescription, introButtonText, introMobileImage } = introSection || {}
---

<section>
  <div class="container max-w-full">
    <div class="row">
      <div class="min-h-[580px] bg-white py-8 lg:col-6 lg:py-[64px]">
        <div class="mx-auto w-full max-w-[480px]">
          <!-- Intro -->
          <div class="form-wrapper hidden form-0" data-forward="form-1">
            {introMobileImage && <img class="mb-8 w-20 block lg:hidden" src={introMobileImage} alt="" />}

            {introTitle && <PortableText value={introTitle} components={portableTextComponents as any} />}
            {introDescription && <PortableText value={introDescription} components={portableTextComponents as any} />}

            {
              introButtonText && (
                <a class="go go-forward btn btn-primary mt-10 block w-full start-form" data-target="form-1" href="#">
                  {introButtonText}
                </a>
              )
            }
          </div>

          <SanityConflictInitial client:load lang={lang} />
        </div>
      </div>

      <script is:inline>
        $(".form-0").slideDown(300)

        const latestStorage = localStorage.getItem("latestConflictType")
        if (latestStorage) {
          $(".form-0").hide()
        }

        $(".go").on("click", function (e) {
          target = "." + $(this).parents(".form-wrapper").data("back")

          if ($(this).hasClass("go-forward")) {
            target = "." + $(this).parents(".form-wrapper").data("forward")
          }

          $("video").each(function () {
            this.pause()
          })

          $(this)
            .parents(".form-wrapper")
            .slideUp("300", function () {
              $("html, body").animate({ scrollTop: 0 }, "400")
              $(target).slideDown()
            })

          e.preventDefault()
        })
      </script>

      <SigninSlider title={signInSliderContent?.title} client:load />
    </div>
  </div>
</section>
