---
import { sanityClient } from "sanity:client"
import { sanityFetch } from "@/lib/utils/sanityFetch"

import Shape from "@/components/Shape.astro"
import PageHeader from "@/components/PageHeader.astro"
import Blogs from "@/components/Blogs.astro"
import FeaturedBlog from "@/components/blog/FeaturedBlog.astro"
import Pagination from "@/layouts/components/Pagination.astro"
import CtaSanity from "@/partials/CtaSanity.astro"

const { lang } = Astro.props

const coursesPageData = await sanityFetch({
  type: "coursesPage",
  lang,
  object: `{
      title,
      heroSection,
      generalText,
      ctaBanner
  }`
})

const { title, heroSection, generalText, ctaBanner } = coursesPageData[0] || {}

const featuredPost = await sanityClient.fetch(`*[_type == 'course' && featured == true && language == '${lang}']`)
const recentPost = await sanityClient.fetch(`*[_type == 'course' && featured != false && language == '${lang}'] | order(_createdAt desc)`)

const totalPages = Math.ceil(recentPost.length / 6)
const currentPosts = recentPost.slice(0, 6)
---

<>
  <Shape />

  <section class="page-hero pt-16">
    <div class="container">
      <PageHeader pageData={{ title, heroSection }} />
    </div>
  </section>

  <section class="section">
    <div class="container">
      <FeaturedBlog posts={featuredPost} title={generalText?.recentPosts} lang={lang} />

      {generalText?.recentPosts && <h2 class="h4 mb-4">{generalText?.recentPosts}</h2>}
      <Blogs posts={currentPosts} />

      <Pagination section={"courses"} currentPage={1} totalPages={totalPages} textPrevious={generalText?.previous} textNext={generalText?.next} />
    </div>
  </section>

  <CtaSanity ctaBanner={ctaBanner} />
</>
