---
import { sanityFetch } from "@/lib/utils/sanityFetch"
import dateFormat from "@/lib/utils/dateFormat"

import Base from "@/layouts/Base.astro"
import PrivacyPolicyPortableText from "@/layouts/function-components/PrivacyPolicy"

const { lang } = Astro.props

const privacyPolicyPageData = await sanityFetch({
  type: "privacyPolicyPage",
  lang,
  object: `{
      title,
      _updatedAt,
      privacyPolicyText,
      lastUpdatedText,
      pageData {
        mainTitle,
        subtitle,
      },
      pageMetadata {
      ...,
      "metaImage": metaImage.asset->url,
    },
  }`
})

const { title, pageData, privacyPolicyText, pageMetadata, _updatedAt, lastUpdatedText } = privacyPolicyPageData[0] || {}
const { metaTitle, metaDescription, metaImage, noIndex, canonicalUrl } = pageMetadata || {}
const { mainTitle, subtitle } = pageData || {}
---

<Base
  title={title && title}
  metaTitle={metaTitle && metaTitle}
  description={metaDescription && metaDescription}
  metaImage={metaImage && metaImage}
  noIndex={noIndex && noIndex}
  canonical={canonicalUrl && canonicalUrl}
  lang={lang}
>
  <section class="section">
    <div class="container mt-10 max-w-[810px] lg:col-9">
      <div class="flex flex-col justify-center">
        <div class="text-left mb-10">
          {mainTitle && <h1>{mainTitle}</h1>}
          {subtitle && <h2 class="text-2xl">{subtitle}</h2>}
          <span>{lastUpdatedText}: {dateFormat(_updatedAt)}</span>
        </div>
      </div>

      {privacyPolicyText && <PrivacyPolicyPortableText content={privacyPolicyText} />}
    </div>
  </section>
</Base>
