---
import { Image } from "astro:assets";
import { sanityFetch } from "@/lib/utils/sanityFetch";

import SocialItem from "@/components/SocialItem.astro";
import LanguageSwitcher from "@/components/LanguageSwitcher.astro";
import localizeURL from "@/lib/utils/localizeURL";

const { lang } = Astro.props;
const currentLanguage = Astro.currentLocale;

const footerData = await sanityFetch({
  type: "footer",
  lang,
  object: `{
      "logoSrc": logo.asset->url,
      description,
      enableLanguageSwitcher,
      socials,
      linksObject,
      contactObject,
      enableCopyright
  }`,
});

const {
  logoSrc,
  description,
  enableLanguageSwitcher,
  socials,
  linksObject,
  contactObject,
  enableCopyright,
} = footerData[0] || {};

interface SocialItem {
  socialsType: string;
  url: string;
}

interface LinkItem {
  urlTitle: string;
  url: string;
}
---

<footer class="footer bg-[#F1F1F1]">
  <div class="container">
    <div class="lg:gx-5 row pb-10 pt-[52px]">
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        {
          logoSrc ? (
            <Image src={logoSrc} alt="" width={231} height={74} />
          ) : (
            "Yppo"
          )
        }

        {description && <p class="mt-6">{description}</p>}

        {enableLanguageSwitcher && <LanguageSwitcher />}

        <button id="authLink_logout" onclick="logoutAndReload()">Logout</button>
      </div>

      <script is:inline>
        function logoutAndReload() {
          localStorage.removeItem("yppo_user_auth");
          location.reload();
        }

        if (!localStorage.getItem("yppo_user_auth")) {
          document.getElementById("authLink_logout").remove();
        }
      </script>

      {
        socials && (
          <div class="col-12 mt-12 md:col-6 lg:col-3">
            {socials?.title && <h6>{socials?.title}</h6>}

            {socials?.socialsRepeater && (
              <ul class="social-icons mt-4 lg:mt-6">
                {socials?.socialsRepeater?.map(
                  ({ socialsType, url }: SocialItem) => {
                    return <SocialItem socialsType={socialsType} url={url} />;
                  }
                )}
              </ul>
            )}
          </div>
        )
      }

      {
        linksObject && (
          <div class="col-12 mt-12 md:col-6 lg:col-3">
            {linksObject?.title && <h6>{linksObject?.title}</h6>}

            {linksObject?.urlsRepeater && (
              <ul>
                {linksObject?.urlsRepeater?.map(
                  ({ urlTitle, url }: LinkItem, index: number) => {
                    return (
                      <li
                        class={
                          linksObject?.urlsRepeater?.length - 1 === index
                            ? "mb-0"
                            : "mb-4"
                        }
                      >
                        <a
                          class="hover:text-primary hover:underline "
                          href={localizeURL(url, currentLanguage)}
                        >
                          {urlTitle}
                        </a>
                      </li>
                    );
                  }
                )}
              </ul>
            )}
          </div>
        )
      }

      {
        contactObject && (
          <div class="col-12 mt-12 md:col-6 lg:col-3">
            {contactObject?.title && <h6>{contactObject?.title}</h6>}

            <ul>
              {contactObject?.email && (
                <li class="mb-2">
                  <a
                    class="mb-2 hover:text-primary"
                    href={`mailto:${contactObject?.email}`}
                  >
                    {contactObject?.email}
                  </a>
                </li>
              )}

              {contactObject?.phone && (
                <li>
                  <a
                    class="hover:text-primary hover:underline"
                    href={`tel:${contactObject?.phone}`}
                  >
                    {contactObject?.phone}
                  </a>
                </li>
              )}

              {contactObject?.enableContactButton && (
                <li>
                  <a
                    href={localizeURL("/contact", currentLanguage)}
                    class="btn btn-white mt-4"
                  >
                    {contactObject?.title && contactObject?.title}
                  </a>
                </li>
              )}
            </ul>
          </div>
        )
      }
    </div>
  </div>

  {
    enableCopyright && (
      <div class="container max-w-[1440px]">
        <div class="footer-copyright mx-auto border-t border-border pb-10 pt-7 text-center">
          <p class="content text-text">
            Copyright © {new Date().getFullYear()}
          </p>
        </div>
      </div>
    )
  }
</footer>
