<!doctype html>
<html>
  <head>
    <title>OAuth Callback Handler</title>
  </head>
  <body>
    <center>
      <a href="#" id="authLink">AUTH</a>
    </center>
    <script>
      const clientId = "Jtx8pKWLU54C7IMfz8xmAxt7tG4Ourj0jHM5KIDUrXg";
      const clientSecret = "Q4A525OFRsYM4ryOapQ-Oth65139lcshVg-q0vBRSWw";
      const redirectUri = encodeURIComponent("https://yppo.websitetotal.com/callback/");
      const authorizationUriBase = "https://yppousers.websitetotal.com/oauth/authorize";
      const tokenUri = "https://yppousers.websitetotal.com/marko_auth.json";

      const authLink = document.getElementById("authLink");

      if (authLink) {
        authLink.addEventListener("click", function (event) {
          const responseType = "code";
          const scope = encodeURIComponent("public");
          const authorizationUri = `${authorizationUriBase}?client_id=${clientId}&redirect_uri=${redirectUri}&response_type=${responseType}&scope=${scope}`;

          window.location.href = authorizationUri;
        });
      } else {
        console.error("Element with ID 'authLink' not found.");
      }

      function handleAuthCallback() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const code = urlParams.get("code");

        if (code) {
          exchangeCodeForToken(code);
        } else {
          console.error("Error: Authorization code not received.");
        }
      }

      function exchangeCodeForToken(code:any) {
        const body = `grant_type=authorization_code&code=${code}&redirect_uri=${redirectUri}&client_id=${clientId}&client_secret=${clientSecret}`;

        fetch(tokenUri, {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: body,
        })
          .then((response) => response.json())
          .then((data) => {
            setCookie("yppo_user_auth", data.access_token, 30);
            window.location.href = "/";
          })
          .catch((error) => {
            console.error("Error exchanging token:", error);
          });
      }

      if (window.location.search.includes("code=")) {
        handleAuthCallback();
      }

      function setCookie(name:any, value:any, days:any) {
        let expires = "";
        if (days) {
          const date = new Date();
          date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
      }
    </script>
  </body>
</html>
