---
import { sanityFetch } from "@/lib/utils/sanityFetch"

import dateFormat from "@/lib/utils/dateFormat";
import { calculateReadTime } from "@/helper/helper.ts";
import imageUrlBuilder from "@sanity/image-url";
import { PortableText } from "@portabletext/react";
import { sanityClient } from "sanity:client";
const builder = imageUrlBuilder(sanityClient);

import { FaRegCalendarAlt, FaRegClock, FaRegFolder } from "react-icons/fa";
import { Image } from "astro:assets";
import languageChecker from "@/lib/utils/localizeURL";
import SignUpButton from "@/partials/SignUpButton.astro"

const { post, lang } = Astro.props;

const coursesPageData = await sanityFetch({
  type: "coursesPage",
  lang,
  object: `{
      ctaBanner,
      signUpButton
  }`
})

const {signUpButton} = coursesPageData[0] || {}
---

<section class="section blog-single">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-10">
        <Image
          class="w-full rounded-xl"
          src={builder.image(post.image).url()}
          alt=""
          width={800}
          height={500}
        />
      </div>
      <div class="mt-10 max-w-[810px] lg:col-9">
        <h1 class="h2">
          {post.title}
        </h1>
        <div class="mb-5 mt-6 flex items-center space-x-2">
          <ul class="mb-4">
            <li class="mr-4 inline-block">
              <FaRegCalendarAlt className={"mr-2 -mt-1 inline-block"} />
              {dateFormat(post._createdAt)}
            </li>
            <li class="mr-4 inline-block">
              <FaRegClock className={"mr-2 -mt-1 inline-block"} />
              {calculateReadTime(post.content)}
            </li>
          </ul>
        </div>

        <div class="content">
          {
            post.videoUrl && (
              <video
                class="mb-6"
                controls
                playsinline
                poster={builder.image(post.videoPoster).url()}
              >
                <source src={post.videoUrl} />
              </video>
            )
          }

          {post && post.content && <PortableText value={post.content} />}

          {signUpButton && <SignUpButton signUpButton={signUpButton} lang={languageChecker}/>}

        </div>
      </div>
    </div>
  </div>
</section>
