---
import Blogs from "@/components/Blogs.astro";
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import BlogCategories from "@/components/blog/BlogCategories.astro";
import FeaturedBlog from "@/components/blog/FeaturedBlog.astro";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { sanityClient } from "sanity:client";

const featuredPost = await sanityClient.fetch(
  `*[_type == 'course' && featured == true]`
);

const recentPost = await sanityClient.fetch(
  `*[_type == 'course' && featured != false] | order(_createdAt desc)`
);

const totalPages = Math.ceil(recentPost.length / 6);
const currentPosts = recentPost.slice(0, 6);

const blogIndex = {
  collection: "courses",
  data: {
    title: "Courses",
    page_title:
      "Deepen your conflict management skills with our curated e-courses.",
  },
};
---

<Base title={blogIndex.data.title}>
  <Shape />
  <section class="page-hero pt-16">
    <div class="container">
      <PageHeader page_data={blogIndex.data} />
    </div>
  </section>
  <section class="section">
    <div class="container">
      <FeaturedBlog posts={featuredPost} />
      <h2 class="h4 mb-4">Recent Posts</h2>
      <Blogs posts={currentPosts} />
      <Pagination section={"courses"} currentPage={1} totalPages={totalPages} />
    </div>
  </section>
  <Cta />
</Base>
